.search-bar-container {
    position: relative;
    max-width: 600px;
    margin: auto;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
  }
  
  .search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 300px;
    overflow-y: auto;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
  }
  
  .search-results ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .search-results li {
    cursor: pointer;
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .search-results li:hover {
    background-color: #f0f0f0;
  }
  

  .highlight {
    color: red;
    font-weight: bold;
  }
  