// src/components/Dashboard.scss

.dashboard {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    height: 100vh;
  
    .drawer {
      width: 250px;
    }
  
    h1 {
      color: #333;
      margin: 20px 0;
    }
  }
  