// src/components/BookList.scss

.book-list {
    margin-top: 20px;

    h2 {
        color: #333;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;

        th, td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: left;

            // Đặt chiều rộng tối đa và cho phép xuống dòng cho ô Tên Sách
            &:nth-child(2) { 
                max-width: 200px; 
                word-wrap: break-word; 
                overflow: hidden; 
                white-space: normal; 
            }
        }

        th {
            background-color: #f2f2f2;
        }
        
        img {
            width: 130px; 
            height: 130px;
            object-fit: contain; 
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .book-thumbnail {
            width: 50px;
            height: auto;
            border-radius: 5px;
        }

        .button-group {
            display: flex;
            gap: 10px;

            button {
                background-color: #28a745;
                color: white;
                border: none;
                padding: 8px 12px;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #218838;
                }
            }
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        button {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 8px 16px;
            margin: 0 5px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #0056b3;
            }

            &:disabled {
                background-color: #cccccc;
                cursor: not-allowed;
            }
        }

        span {
            margin: 0 10px;
            font-size: 16px;
            color: #333;
        }
    }
}

.button-group {
  display: flex;
}

.button-group button {
  margin-right: 10px;
}

.button-group button:last-child {
  margin-right: 0; 
}
