.recommended-books-container{
    display: flex;
    justify-content: center;
    .back{
        margin-top: 30px;
    }
    

.recommended-books {
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
    
    width: 90%;

    h2 {
        font-size: 34px;
        color: #4CAF50;
        margin-bottom: 16px;
        text-align: center;
    }

    .book-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 16px;

        .book-item {
            background-color: #fff;
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            padding: 12px;
            text-align: center;
            transition: transform 0.3s, box-shadow 0.3s;

            &:hover {
                transform: translateY(-4px);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
            }

            .book-image {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 8px;
                margin-bottom: 12px;
            }

            h4 {
                font-size: 18px;
                color: #555;
                margin-bottom: 8px;
            }

            p {
                font-size: 14px;
                color: #777;
            }
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        button {
            background-color: #f0f0f0;
            border: none;
            padding: 8px 16px;
            margin: 0 4px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;

            &:hover {
                background-color: #007bff;
                color: white;
            }

            &.active {
                background-color: #007bff;
                color: white;
                font-weight: bold;
            }
        }
    }
}
}