.account-list {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
  
      th, td {
        padding: 12px;
        text-align: center;
        border-bottom: 1px solid #ddd;
      }
  
      th {
        background-color: #007bff;
        color: white;
        font-weight: bold;
      }
  
      td {
        font-size: 14px;
      }
  
      tr:hover {
        background-color: #f1f1f1;
      }
    }
  
    .button-group {
        display: flex;
        justify-content: center;
        gap: 10px;
      
        button {
          padding: 8px 12px;
          border: none;
          border-radius: 5px;
          font-size: 14px;
          cursor: pointer;
          transition: all 0.3s ease;
          color: white;
      
          /* Nút Edit */
          &:first-child {
            background-color: #28a745; /* Màu xanh lá */
            &:hover {
              background-color: #218838; /* Đậm hơn khi hover */
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }
          }
      
          /* Nút Delete */
          &:last-child {
            background-color: #dc3545; /* Màu đỏ */
            &:hover {
              background-color: #c82333; /* Đậm hơn khi hover */
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
  
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #007bff;
          color: white;
          border: none;
          padding: 10px;
          margin: 0 10px;
          border-radius: 5px;
          cursor: pointer;
          font-size: 14px;
          transition: all 0.3s ease;
      
          &:hover {
            background-color: #0056b3;
            transform: scale(1.1);
          }
      
          &:disabled {
            background-color: #e0e0e0;
            color: #999;
            cursor: not-allowed;
            transform: none;
          }
      
          svg {
            width: 16px;
            height: 16px;
          }
        }
      
        span {
          font-size: 16px;
          font-weight: bold;
          color: #555;
        }
      }
  }
  