.admin-dashboard {
    padding: 20px;
    h2{
      margin-bottom: 30px;
    }
    .charts-container {
      .chart {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 8px;
        margin-bottom: 50px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        h3 {
          text-align: center;
          margin-bottom: 10px;
        }
      }
    }
  }
  